@{
    ViewBag.Title = "About";
}
<!--Names:Nathan Siu and Mike Meissner
    File:about.cshtml
    Desciption: This file contains information about our restaurant-->

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
